<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--suppress HtmlUnknownTarget -->
  <link rel="stylesheet" href="css/dash.css" />

  <title>Storyteller Arts</title>

  <%- include('../partials/dashboard/components'); %>
</head>

<body>
  <main class="main">
    <%- include('../partials/dashboard/sidebar'); %>

    <section class="content">
      <%- include('../partials/dashboard/head', {user: user, last30Days: last30Days}); %>

      <div class="content-container" id="content-container">
        <stat-container date="Sep 23" visitors="1,400"
          interactions="1,360">
        </stat-container>
      </div>

    </section>

  </main>

  <section id="modal"></section>
  <!--suppress HtmlUnknownTarget -->
  <script src="../js/dashboard/tab.js" async></script>
</body>

</html>