<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Storyteller Arts</title>
  <!--suppress HtmlUnknownTarget -->
  <link rel="stylesheet" href="css/logon.css">
</head>
<body>
  <%- include('../partials/logon/animation'); %>
  <section class="logon">
    <%- include('../partials/logon/content'); %>
  </section>
  <!--suppress HtmlUnknownTarget -->
  <script src="../js/logon/logon.js" async></script>
</body>
</html>