* {
	box-sizing: border-box !important;
}

:host {
	/* border: 1px solid #808080; */
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
	/* align-items: center; */
	justify-content: center;
	gap: 10px;
}

.loader {
	width: 28px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #E3AAD6;
	transform-origin: top;
	display: grid;
	animation: l3-0 1s infinite linear;
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	background:#F4DD51;
	border-radius: 50%;
	transform-origin: top;
	animation: inherit;
	animation-name: l3-1;
}
.loader::after {
	background: #F10C49;
	--s: 180deg;
}
@keyframes l3-0 {
	0%,20% {transform: rotate(0)}
	100%   {transform: rotate(360deg)}
}
@keyframes l3-1 {
	50% {transform: rotate(var(--s,90deg))}
	100% {transform: rotate(0)}
}

.header {
	border-bottom: 1px solid #80808017;
	background-color: #ffffff;
	z-index: 5;
	margin: 0;
	padding: 30px 0 12px 0;
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: start;
	gap: 20px;
	position: sticky;
	top: 80px;
}

.header > span.option {
	/* border: 1px solid #80808017; */
	/* background-color: rgba(20,167,62,1); */
	padding: 5px 20px 6px 15px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: #808080;
	cursor: pointer;
}

.header > span.option.active {
	background-color: #f5f5f5;
	color: #404040;
	font-weight: 500;
}

.header > span.option:hover {
	color: #404040;
	font-weight: 500;
}

.header > span.option svg {
	/* border: 1px solid #80808017; */
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header > span.option svg path {
	fill: #808080;
}

.header > span.option:hover svg path {
	fill: #404040;
}

.header > span.option.active svg path {
	fill: #404040;
}

.header > span.option span {
	font-family: var(--font-alt),sans-serif;
	font-weight: inherit;
}

.content {
	margin: 0;
	padding: 20px 0;
	width: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	gap: 30px;
}

.content > .person {
	border: 1px solid #80808017;
	margin: 0;
	padding: 15px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	background-position-x: 0;
	background-position-y: 0;
	background-repeat: repeat;
	background-image: none;
	box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.034);
}

.content > .person > .head {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 0;
}

.content > .person > .head > .profile {
	/* border: 1px solid #808080; */
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100px;
	height: 100px;
	gap: 0;
	border-radius: 50px;
}

.content > .person > .head > .profile > img {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	gap: 0;
	border-radius: 50px;
	object-fit: cover;
}

.content > .person > .head > .info {
	/* border: 1px solid #808080; */
	padding: 8px 0 18px 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 0;
}

.content > .person > .head > .info > h4 {
	margin: 0;
	font-family: var(--font-alt),sans-serif;
	font-weight: 500;
	color: #404040;
	font-size: 1.1rem;
}

.content > .person > .head > .info > span.role {
	margin: 0;
	font-family: var(--font-alt),sans-serif;
	font-weight: 400;
	color: #808080;
	font-size: 0.85rem;
}

.content > .person > .socials {
	/* border: 1px solid #808080; */
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.content > .person > .socials > a {
	/* border: 1px solid #808080; */
	background-color: #f5f5f5;
	padding: 5px 10px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #808080;
	border-radius: 50px;
	
}

.content > .person > .socials > a:hover svg path {
	fill: #08b86f;
}

.content > .person > .socials > a svg {
	width: 20px;
	height: 20px;
}

.content > .person > .socials > a svg path {
	fill: #808080;
}

.add {
	margin: 0 0 20px 0;
	width: 90%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: start;
	gap: 15px;
}


.add > .action {
	/* border: 1px solid black; */
	padding: 20px 0 30px 0;
	width: 80%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

.add > .action > button {
	border: none;
	outline: none;
	background-color: rgba(20,167,62,1);
	padding: 10px 25px;
	font-family: var(--font-alt),sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #ffffff;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	gap: 2px;
	border-radius: 25px;
}


.add > .field {
	/*border: 1px solid black;*/
	width: 80%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: start;
	gap: 2px;
}

.add > .field > span.error {
	color: #ee7752;
	font-size: 0.8rem;
	display: none;
}

.add > .field > label {
	font-family: var(--font-alt),sans-serif;
	padding: 5px 2px;
	color: #404040;
	font-weight: 400;
	font-size: 1.1rem;
}

.add > .field > span.wrapper {
	display: flex;
	align-items: center;
	gap: 0;
	width: 100%;
}
.add > .field > span.wrapper > span {
	border: 1px solid #80808037;
	border-right: none;
	font-size: 1rem;
	width: 60px;
	padding: 10px 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	color: #08b86f;
	display: flex;
	align-items: center;
}

.add > .field > span.wrapper > input {
	border: 1px solid #80808037;
	font-size: 1rem;
	width: calc(100% - 60px);
	outline: none;
	padding: 10px 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	color: #404040;
}

.add > .field >  span.wrapper > input:focus {
	border: 1px solid #08b86f60;
}

.add > .field > input {
	border: 1px solid #80808037;
	font-size: 1rem;
	width: 100%;
	outline: none;
	padding: 10px 12px;
	border-radius: 12px;
	color: #404040;
}

.add > .field > span.error {
	color: #ee7752;
	font-size: 0.8rem;
	display: none;
}

.add > .field > input:focus {
	border: 1px solid #08b86f60;
}